[Desktop Entry]
Name=Energimätaren
Comment=Visual energy level tracker
Comment[sv]=Visuell energimätare för barn
Exec=energimataren
Icon=se.danielnylander.energimataren
Type=Application
Categories=Education;Accessibility;
